.Card{  
    width: 800px;
    margin: 1rem auto;
    display: flex;
    background-color: black;
    color: white;
   
   
}
.Details-section{
    width: 100%;
    /* background-color: red; */
    padding: 1rem;
    border-radius: 1rem;

}
.innerDiv{
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgb(239, 2, 2);
    
}
.movieName{
    display: flex;
    
}
.imgdiv{
    width: 90px ;
    height: 110px;
    margin: 0 1rem 1rem 0;
}
.movieTitels>h4{
    font-size: 20px;
    font-weight: 400;
}
.text{
    font-size: 13px;
}
.year{
    color :aqua;
    margin-bottom: 1rem;
    /* font-size: 18px; */
}
.time{
    border: 1px solid rgba(255, 255, 255, 0.247) ;
    padding: 0.2rem 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.3rem;
}

.movieDisc{
    max-width:  350px;
    color: #DFE1D9;
}
.icons{
    padding-top: 2rem;
    color: white;
    display: flex;
    gap: 1.5rem;
}